# Ignore everything:
*

# Do not ignore these files:
!README.md
!.gitignore

#do not ignore some terraform files
!terraform/
terraform/*
!terraform/main.tf
!terraform/outputs.tf
!terraform/variables.tf

#do not ignore main app
!app/
app/*
!app/files/
app/files/*
!app/files/index.html
!app/app.py
!app/Dockerfile
!app/requirements.txt